{% macro t(key) %}{{ {
  "language": "ru",
  "clipboard.copy": "Копировать",
  "clipboard.copied": "Скопировано",
  "edit.link.title": "Редактировать эту страницу",
  "footer.previous": "Назад",
  "footer.next": "Вперед",
  "meta.comments": "Комментарии",
  "meta.source": "Исходный код",
  "search.placeholder": "Поиск",
  "search.result.placeholder": "Начните печатать для поиска",
  "search.result.none": "Нет совпадений",
  "search.result.one": "Найдено 1 совпадение",
  "search.result.other": "Найдено # совпадений",
  "search.tokenizer": "[\s\-]+",
  "source.link.title": "Перейти к репозиторию",
  "toc.title": "Содержание"
}[key] }}{% endmacro %}
